@media (max-width:1200px) {
    .project-details-card {
        width: 100%!important;
        
      }
}

@media (max-width:992px) {
    .footer-nav-title {
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .header-nav-link {
        font-size: 18px!important;
    }

}

@media (max-width: 429px) {
    .header-nav-link {
        font-size: 16px!important;
    }

    .site-logo {
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
}