body {
    scroll-behavior: smooth!important;
}

.container {
    max-width: 1264px!important;
}

img {
    max-width: 100%;
}


/* Header Section Styles Start Here */

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #214B67;
}

.site-logo {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.header-nav-link {
    color: #214B67!important;
    font-family: "Roboto", sans-serif!important;
    font-size: 20px!important;
    font-weight: 500!important;
    line-height: 1.2!important;
    letter-spacing: 0.5px!important;
}

.header-nav-link:hover {
    color: #F26529!important;
    text-decoration: underline!important;
    transition: all 0.8s!important;
    background-color: #ffffff!important;
}

.header-social-link {
    font-size: 24px;
    color: #214B67;
}

.header-social-link:hover {
    color: #F26529;
    transition: all 0.8s;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

.responsive-mobile-menu-toggle-icon-div .btn-primary  {
    background-color: #214B67!important;
    margin-top: 2.5px;
}

.responsive-mobile-menu-toggle-icon-div .btn-primary:hover  {
    background-color:#F26529!important;
    transition: all 0.5s;
}

/* Header Section Styles End Here */


/* Hero Section Styles Start Here */

.hero-section {
    padding: 160px 0px;
}

.hero-title {
    color: #F26529;
    font-family: 'Roboto', sans-serif;
    font-size:  48px;
    font-weight: 700;
    line-height: 1.2;
}

.section-subtitle {
    color: #214B67;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}

.desc-text {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.hero-desc {
    text-align: justify;
}

.hero-btn-div {
    padding-top: 32px;
}

.contact-btn {
    font-family: 'Open Sans', sans-serif;
    color: #214B67;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 32px;
    border: 2px solid #F26529;
    background-color: #fde1d0;
    text-transform: uppercase;
    transition: all 0.8s;
}

.contact-btn:hover {
    color: #ffffff;
    border: 2px solid #F26529;
    background-color: #F26529;
}

.hero-img {
    border-radius: 4px;
}


/* Hero Section Styles End Here */


/* About Section Styles Start Here */

/* About Section Styles End Here */



/* Projets Section Styles Start Here */

.projects-section {
	padding-top: 120px;
}

.section-title {
    color: #214B67;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 24px;
}

/* Projets Section Styles End Here */

/* Certifications Section Styles Start Here */

.certifications-section {
	padding-top: 120px;
}

/* Certifications Section Styles End Here */



/* Contact Section Styles Start Here */

.contact-section {
	padding: 120px 0px 120px 0px;
}

.contact-desc{
	padding-bottom: 16px;
}

.form-control {
    padding: 10px;
    color: #000000;
    margin: 10px;
}

input, textarea {
    padding: 10px 20px!important;
}

input[type=text] {
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

input[type=email] {
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

textarea[type=text] {
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.contact-submit-btn-div {
	padding-top: 24px;
}

/* Contact Section Styles End Here */


/* Footer Section Styles Start Here */

.footer-section {
	background-color: #000000;
	padding: 48px 0;
}

.footer-social-link {
	color: #ffffff;
	font-size: 24px;
}

.footer-social-link:hover {
	color: #F26529;
    transition: all 0.5s;
}

.footer-copyright-desc {
	color: #ffffff;
}

.footer-dd-desc {
	color: #ffffff;
}

.footer-nav-link {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: #F26529;
    transition: all 0.5s;
    text-decoration: underline;
}

.footer-nav-title {
	color: #ffffff;
	padding-left: 25px;
}

.footer-social-title {
    color: #ffffff;
    padding-top: 24px;
}

.footer-content-link {
	color: #ffffff;
    text-decoration: none;
}

.footer-content-link:hover {
	color:#F26529;
    transition: all 0.5s;
    text-decoration: underline
}



/* Footer Section Styles EndHere */

